:host {
  background-color: #959595;
  display: block;
  max-width: 72rem;
  margin: 0 auto;
  color: white;
}

.list-storages {
  margin: 2.5rem 0;
  border: solid 1px #959595;
  background-color: #323232;
  padding: 1rem;
}
